.headlinesection {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 500vh;
  display: flex;
  position: absolute;
}

.rotatosection {
  z-index: -100;
  object-fit: cover;
  background-color: #000;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 800vh;
  display: inline-block;
  position: relative;
  overflow: visible;
}

.sitesection {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  display: block;
}

.topheading {
  color: #fff;
  text-align: center;
  max-width: 690px;
  font-size: 70px;
  line-height: 70px;
}

.topheading.first {
  color: #fff;
  text-align: center;
  font-size: 120px;
  line-height: 120px;
}

.toptext {
  color: rgba(255, 255, 255, .51);
}

.topbuttons {
  margin-top: 12px;
  display: flex;
  overflow: visible;
}

.topbutton {
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.stickydiv {
  z-index: -99;
  object-fit: cover;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.siteheading {
  font-size: 90px;
  line-height: 90px;
}

.siteheading.h2 {
  flex-direction: row;
  font-size: 60px;
  line-height: 60px;
  display: flex;
}

.lottie-animation {
  object-fit: cover;
}

.container {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.container.sidebyside {
  flex-flow: column;
  flex: 0 auto;
  align-items: stretch;
  display: block;
}

.footer {
  text-align: center;
  align-items: flex-start;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-flex-container {
  text-align: left;
  justify-content: space-between;
  margin-bottom: 40px;
  display: flex;
}

.footer-logo-link {
  flex: 0 auto;
  min-width: 60px;
  max-height: 60px;
}

.footer-image {
  object-fit: contain;
  object-position: 0% 50%;
  width: 100%;
  height: 100%;
}

.footer-heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  color: #444;
  margin-bottom: 10px;
  text-decoration: none;
  display: block;
}

.footer-link:hover {
  text-decoration: underline;
}

.container-2 {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.howto {
  color: #797979;
  padding-left: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.heading {
  max-width: 322px;
  margin-right: 59px;
}

.heading.instructions {
  margin-top: 0;
}

.text-block {
  background-color: rgba(0, 0, 0, .08);
  margin-top: 36px;
  padding: 20px;
  font-family: Inconsolata, monospace;
}

.howtocolumn {
  margin-top: 36px;
}

.floatingsection {
  flex-direction: column;
  align-items: center;
  margin-top: 25vh;
  display: flex;
}

.floatingsection.float2 {
  z-index: 101;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  height: 200vh;
  margin-top: 667px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.floattext {
  color: #8e8e8e;
  text-align: center;
}

.image {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.image-2 {
  margin-left: -19px;
}

.text-block-3 {
  max-width: 322px;
}

.bignumber {
  color: #fff;
  text-align: center;
  border-radius: 20px;
  flex: 0 auto;
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 5ch;
  line-height: 100%;
}

.bignumbercontainer {
  background-color: #000;
  border-radius: 200px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  display: flex;
}

.quickstart {
  margin-bottom: 16px;
}

.heading-2 {
  position: static;
}

.heading-3 {
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
}

.text-block-4 {
  padding-right: 566px;
}

.sticky-explainer {
  position: -webkit-sticky;
  position: sticky;
  top: 20%;
}

.floatingsection-ex2 {
  flex-direction: column;
  align-items: center;
  margin-top: 25vh;
  display: flex;
}

.floatingsection-ex2.float2, .floatingsection-ex2.float2-ex2 {
  z-index: 101;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  height: 200vh;
  margin-top: 667px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.headlinesection-copy {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 500vh;
  display: flex;
  position: absolute;
}

.siteheading-2 {
  text-align: center;
  font-size: 90px;
  line-height: 90px;
}

.siteheading-2.h2 {
  flex-direction: row;
  font-size: 60px;
  line-height: 60px;
  display: flex;
}

.image-3 {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.div-block {
  z-index: -10;
  background-color: #fff;
  width: 100%;
  height: 80px;
  margin-top: -62px;
  position: static;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.app {
  margin-top: 178px;
}

.footer-2 {
  text-align: center;
  background-color: #f5f5f5;
  align-items: flex-start;
  margin-top: 75px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-image-2 {
  object-fit: contain;
  object-position: 0% 50%;
}

@media screen and (max-width: 991px) {
  .stickydiv {
    background-color: #000;
    height: 100vh;
  }

  .footer, .footer-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .headlinesection {
    padding-left: 20px;
    padding-right: 20px;
  }

  .topheading {
    text-align: center;
    max-width: 680px;
    font-size: 50px;
    line-height: 50px;
  }

  .topheading.first {
    font-size: 50px;
    line-height: 50px;
  }

  .stickydiv {
    justify-content: center;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .container.sidebyside {
    padding-left: 20px;
    padding-right: 21px;
  }

  .footer {
    padding: 40px 20px;
  }

  .footer-image {
    object-fit: contain;
  }

  .container-2 {
    flex-flow: row;
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
  }

  .howto {
    margin-left: -39px;
  }

  .heading {
    max-width: 254px;
  }

  .column, .howtocolumn, .column-3, .column-4, .column-5, .column-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .floatingsection.float2, .floatingsection-ex2.float2, .floatingsection-ex2.float2-ex2 {
    width: 90%;
  }

  .headlinesection-copy {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-2 {
    padding: 40px 20px;
  }

  .footer-image-2 {
    object-fit: contain;
  }
}

@media screen and (max-width: 479px) {
  .sitesection {
    margin-left: 19px;
    margin-right: 19px;
  }

  .topheading {
    max-width: 280px;
    font-size: 40px;
    line-height: 40px;
  }

  .toptext {
    color: rgba(255, 255, 255, .51);
    margin-left: 23px;
    margin-right: 23px;
  }

  .topbuttons {
    flex-direction: column;
  }

  .topbutton {
    margin-bottom: 19px;
  }

  .stickydiv {
    justify-content: center;
    display: flex;
  }

  .lottie-animation {
    object-fit: cover;
    overflow: hidden;
  }

  .container, .container.sidebyside {
    padding-left: 0;
    padding-right: 0;
  }

  .footer {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-flex-container {
    flex-direction: column;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-heading {
    margin-top: 20px;
  }

  .container-2 {
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
  }

  .howto {
    margin-left: 0;
  }

  .heading {
    margin-right: 0;
  }

  .text-block {
    overflow: auto;
  }

  .column, .text-block-2 {
    padding-left: 0;
  }

  .columns {
    overflow: visible;
  }

  .howtocolumn {
    margin-top: 53px;
    padding-left: 0;
  }

  .column-3, .column-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .floatingsection.first {
    margin-top: 5vh;
  }

  .link-block {
    margin-top: 16px;
  }

  .footer-2 {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
  }
}


